<wm-page name="page1" data-ng-controller="MainPageController">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-fileupload name="fileupload1"></wm-fileupload>
            <wm-prefab prefabname="googlemaps" name="googlemaps1" locations="bind:Variables.Location.dataSet" lat="coords.latitude" lng="coords.longitude"></wm-prefab>
        </wm-page-content>
    </wm-content>
</wm-page>